<!-- BEGIN: main -->
<div id="sub_titulo">Registros de Requisiciones</div>
{BUTTON_ADD}
<table id="tablaRows" class="display">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Memo</th>
            <th>Fecha Solicitud</th>
            <th>Recibido</th>
            <th>Fecha Recibido</th>
            <th>Dependencia</th>
            <th>Acción(es)</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>
            <td>{NUMERO}</td>
            <td>{MEMO}</td>
            <td>{FECHA_SOLICITUD}</td>
            <td>{RECIBIDO}</td>
            <td>{FECHA_RECIBIDO}</td>
            <td>{DES_DEPENDENCIA}</td>
            <td align="center">
                {BUTTON_EDIT}
                {BUTTON_DELETE}
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
