<!-- BEGIN: main -->
<script src="../../../../../{FDSOIL}/js/calendar.js"></script>
<form action="" name="form" method="POST">
    <input type="hidden" name="id" id="id" value='{ID}'>
    <div id='sub_titulo'>Registro de proveedor</div>
    <div align="center">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Rif</td>
                <td>
                    <input id="id_rif"
                           name="rif"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{RIF}"
                           {RIF_READONLY}>
                </td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>
                    <input id="id_nombre"
                           name="nombre"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{NOMBRE}">
                </td>
            </tr>
            <tr>
                <td>Descripcion</td>
                <td>
                    <textarea id="id_descripcion"
                              name="descripcion"
                              style="width: 98%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{DESCRIPCION}</textarea>
                </td>
            </tr>
            <tr>
                <td>Direccion</td>
                <td>
                    <textarea id="id_direccion"
                              name="direccion"
                              style="width: 98%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{DIRECCION}</textarea>
                </td>
            </tr>
            <tr>
                <td>Telefono</td>
                <td>
                    <input id="id_telefono"
                           name="telefono"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{TELEFONO}">
                </td>
            </tr>
        </table>
    </div>
    {BUTTONS_PANEL}
</form>
<!-- END: main -->
