/*URL: http://www.dynamicdrive.com/style/ */

.halfmoon{
    margin-bottom: 1em;
}

.halfmoon ul{
    padding: 0px 9px 14px 5px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    text-align: left; 
    border-bottom: 1px solid #929492;
}

.halfmoon li{
    display: inline;
    margin: 0;  
}

.halfmoon li a{
    text-decoration: none;
    background-color:#E7E7E7;
    /*font-weight:bold;*/

	/*background: -moz-linear-gradient(#f3f3f3, #c0c0c0); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #c0c0c0),color-stop(1, #f3f3f3));	
	background: -webkit-linear-gradient(#f3f3f3, #c0c0c0);	
	background: -o-linear-gradient(#f3f3f3, #c0c0c0);
	background: -ms-linear-gradient(#f3f3f3, #c0c0c0);
	background: linear-gradient(#f3f3f3, #c0c0c0);*/


	padding: 15px 15px 15px 15px;
	margin-top:0px;
	margin-bottom: 0px;
	margin-right: 1px; /*distance between each tab*/
	border-left: 1px solid #E7E7E7;
	color: black;
	font-size: 1vw;
	/*-webkit-border-radius: 5px 5px;  /* Safari  */
	/*-moz-border-radius: 5px 5px;     /* Firefox */
	/*-moz-box-shadow: 0.5px 1px 1.5px #000000;
	-webkit-box-shadow: 0.5px 1px 1.5px #000000;
	box-shadow: 0.5px 1px 1.5px #000000;*/ 
        background:#bdc3c7;/*////////////////////////////#D4DEEA*/


}

.halfmoon li a:visited{
color: black;
}

.halfmoon li a:active{
background-color: #CDDADA;
color: navy;
}

.halfmoon li a:hover{

/* Efecto de sombreado animado*/
        background-color:#2196F3;

	/*-moz-box-shadow: 0.5px 1px 1.5px #000000;
	-webkit-box-shadow: 0.5px 1px 1.5px #000000;
	box-shadow: 0.5px 1px 1.5px #000000;
	-webkit-transform: translate(0,-1px);
	-moz-transform: translate(0,-1px);
	-o-transform: translate(0,-1px);
	-moz-transition: -moz-transform .1s ease-in;
	-o-transition: -o-transform .1s ease-in;
	-webkit-transition: -webkit-transform .1s ease-in; 
	background: -moz-linear-gradient(#c0c0c0#, f3f3f3 ); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #f3f3f3),color-stop(1, #c0c0c0));	
	background: -webkit-linear-gradient(#c0c0c0, #f3f3f3);	
	background: -o-linear-gradient(#c0c0c0, #f3f3f3);
	background: -ms-linear-gradient(#c0c0c0, #f3f3f3);
	background: linear-gradient(#c0c0c0, #f3f3f3);*/
/*fin efecto*/
}

.divSolapa {
	border: 0px solid; 
	height:auto;
	position:relative;
	top:10px;
	left:auto;
	margin-top:10px;
	min-height:10px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
        clear: both;
}

#botones_solapa{
	position:relative;
	top:0px;
	left:520px;
}

.HabilitarBoton {
	opacity: 10;
	background:#2c2c2c;
	color:#fff;
        border-width:0;
        height:50px;
        width:75px;
	/*background:#BA3131;/*#A2A2A2*/
	/*background: -moz-linear-gradient(#ba3131, #5d1818); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111z),color-stop(1, #ba3131));	
	background: -webkit-linear-gradient(#ba3131, #5d1818);	
	background: -o-linear-gradient(#ba3131, #5d1818);
	background: -ms-linear-gradient(#ba3131, #5d1818);
	background: linear-gradient(#ba3131, #5d1818);
	border:#073100;
	border-radius: 2px;

    	margin-right: 8px; */
   	/*Efectos de agrandado transform de botom solo funcionan en opera, mozilla, chrome y zafari*/
    	/*-moz-transform: scale(1);
    	-webkit-transform: scale(1);
    	-o-transform: scale(1);
    	-moz-transition: -moz-transform .1s ease-in;
	-o-transition: -o-transform .1s ease-in;
	-webkit-transition: -webkit-transform .1s ease-in;
	-moz-box-shadow: 0.5px 1px 1.5px #000000;
	-webkit-box-shadow: 0.5px 1px 1.5px #000000;
	box-shadow: 0.5px 1px 1.5px #000000; */
}


.HabilitarBoton input[type="button"]:hover{
	opacity: 10;

	background:#2c2c2c;
	color:#fff;
        border-width:0;
        height:40px;
        width:75px;

-webkit-box-shadow: 13px 12px 39px -12px rgba(43,5,12,1);
-moz-box-shadow: 13px 12px 39px -12px rgba(43,5,12,1);
box-shadow: 13px 12px 39px -12px rgba(43,5,12,1);

	/*background: -moz-linear-gradient(#ba3131, #5d1818); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111z),color-stop(1, #ba3131));	
	background: -webkit-linear-gradient(#ba3131, #5d1818);	
	background: -o-linear-gradient(#ba3131, #5d1818);
	background: -ms-linear-gradient(#ba3131, #5d1818);
	background: linear-gradient(#ba3131, #5d1818);
	border:#861616;
	color:#fff;
    	border-radius: 2px;
    	-moz-transform: scale(1.15);
  	-webkit-transform: scale(1.15);
    	-o-transform: scale(1.15);
    	-moz-transition: -moz-transform .125s ease-in;
	-o-transition: -o-transform .125s ease-in;
	-webkit-transition: -webkit-transform .125s ease-in;*/
}

.desHabilitarBoton{
	opacity: 0.5;
	background:#2c2c2c;
	color:#fff;
        border-width:0;
        height:50px;
        width:75px;


	/*background: -moz-linear-gradient(#ba3131, #5d1818); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111z),color-stop(1, #ba3131));	
	background: -webkit-linear-gradient(#ba3131, #5d1818);	
	background: -o-linear-gradient(#ba3131, #5d1818);
	background: -ms-linear-gradient(#ba3131, #5d1818);
	background: linear-gradient(#ba3131, #5d1818);
	border:#073100;
	border-radius: 2px;
	color:#fff;
   	margin-right: 8px; 
	-moz-box-shadow: 0.5px 1px 1.5px #000000;
	-webkit-box-shadow: 0.5px 1px 1.5px #000000;
	box-shadow: 0.5px 1px 1.5px #000000; */
}



.desHabilitarBoton input[type="button"] {
	opacity: 0.5;
	background:#2c2c2c;
	color:#fff;
        border-width:0;
        height:40px;
        width:75px;

	/*background: -moz-linear-gradient(#ba3131, #5d1818); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111z),color-stop(1, #ba3131));	
	background: -webkit-linear-gradient(#ba3131, #5d1818);	
	background: -o-linear-gradient(#ba3131, #5d1818);
	background: -ms-linear-gradient(#ba3131, #5d1818);
	background: linear-gradient(#ba3131, #5d1818);
	border:#073100;
	border-radius: 2px;
	color:#fff;
   	margin-right: 8px; 
	-moz-box-shadow: 0.5px 1px 1.5px #000000;
	-webkit-box-shadow: 0.5px 1px 1.5px #000000;
	box-shadow: 0.5px 1px 1.5px #000000; */
}


