<!-- BEGIN: main -->
<div id="sub_titulo">Registros de Compra</div>
{BUTTON_ADD}
<table id="tablaRows" class="display">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Fecha</th>
            <th>Requisicion</th>
            <th>Proveedor</th>
            <th>Forma Pago</th>
            <th>Recibido Por</th>
            <th>Recibido Fecha</th>
            <th>Recibido Hora</th>
            <th>Evaluado Por</th>
            <th>Evaluado Fecha</th>
            <th>Evaluado Hora</th>
            <th>Acción(es)</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>
            <td>{NUMERO}</td>
            <td>{FECHA}</td>
            <td>{DES_REQUISICION}</td>
            <td>{DES_PROVEEDOR}</td>
            <td>{DES_FORMA_PAGO}</td>
            <td>{RECIBIDO_POR}</td>
            <td>{RECIBIDO_FECHA}</td>
            <td>{RECIBIDO_HORA}</td>
            <td>{EVALUADO_POR}</td>
            <td>{EVALUADO_FECHA}</td>
            <td>{EVALUADO_HORA}</td>
            <td align="center">
                {BUTTON_EDIT}
                {BUTTON_DELETE}
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
