<!-- BEGIN: main -->
<div id="sub_titulo">Movimientos de Almacen</div>
{BUTTON_ADD}
<table id="tablaRows" class="display">
    <thead>
        <tr>
            <th>Orden</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Dependencia</th>
            <th>Acción(es)</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>
            <td>{ORDEN}</td>
            <td>{TIPO}</td>
            <td>{FECHA}</td>
            <td>{DES_DEPENDENCIA}</td>
            <td align="center">
                {BUTTON_EDIT}
                {BUTTON_DELETE}
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
