@charset "utf-8";

body,html {
    font-family: sans-serif;
    font-size:1vw;
    margin:0;
    padding:0;
    background:#600000;
}

#cuerpo{        	
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 68%;
    background-size: 100%;
}

.flex {
  display: flex;
  width:100%;
  height:100%;
  position:relative;
  text-align:center;
  flex-wrap: wrap;
  justify-content: center;
   background: #fff url(../img/cubes.png); 
   background-repeat: repeat 0 0;
}

#banner{
        background-image:url(../img/header.png);
        background-size: 100% 100%;
        background-repeat:no-repeat;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        clear: both;
        height:20%;
        width: 100%;
        position:relative;

}


#titulo {
    padding-bottom:2%;
    margin-bottom:0%;
    text-align:center;
    font-size:2vw;
    font-family: sans-serif;
    color: #fff;
    position: relative;
    background:#600000;
}

#sub_titulo {
    margin-bottom:40px;
    text-align:center;
    font-size:1.75vw;
    font-family: sans-serif;
    color: #6E6E6E;
    position: relative;
    width: auto;
    height: auto;
}

#id_firma{
    padding-top:1%;
    padding-bottom:1%;
    background: #600000;
    color:#fff;
    text-align:center;
    font-size:0.75vw;
}

.divGroupField{
        margin: auto auto auto auto;
}

.comboBox{
        width:47.5%;
        height:40px;
        font-size:14px;
}

.comboBoxNacionalidad{
        width:20%;
        height:30px;
        font-size:14px;
}


#id_button_add {
    border-radius: 10px;
    border: 0;
    background-color:#555;
    cursor:pointer;
    color:#fff;
    font-family: sans-serif;
    font-size: 1vw;
    padding-left:10%;
    padding-right:10%;
    margin-top:1%;
    margin-bottom:1%;
    -moz-box-shadow: 2.5px 5px 5px #0B243B;
    -webkit-box-shadow: 2.5px 5px 5px #0B243B;
    box-shadow: 2.5px 5px 5px #0B243B;
}

#id_button_add:hover { 
    background-color:#000;
    -moz-box-shadow: 5px 10px 10px #0B243B;
    -webkit-box-shadow: 5px 10px 10px #0B243B;
    box-shadow: 5px 10px 10px #0B243B;
}

#separation_line {
        border: solid 2px #D8D8D8;
}

.titulo_contacto {
    position:relative;
    font-family: sans-serif;
    font-size: 1vw;
    color:#fff;
    left:0%;
}

.titulo_contacto a {
    position:relative;
    font-family: sans-serif;
    font-size: 1vw;
    color:#fff;
    left:0%;
}

.titulo_contacto a:hover {
cursor:pointer;
color:#fff;
}

.accion {
    opacity: 1;
    height: 21px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 21px;
    padding: 6px;
    cursor:pointer;
}

.accion:hover {
    opacity: 0.7;    
    margin-top: 3px;
    margin-bottom: 3px;    
    padding: 6px; 
}



#id_firefox{
        opacity:0.5;
}


#id_firefox:hover{
        opacity:9;
}

#id_document{
        opacity:1;
}


#id_document:hover{
        opacity:1;
}

a {
color:#6E6E6E;
text-decoration: underline;
margin-top: 10px;
font-size:1vw;
font-family: sans-serif;
font-weight: normal;
}

a:hover{
color: #0404B4;
margin-top: 10px;
text-decoration: underline;
font-weight: normal;
    cursor: pointer;
}


input::-webkit-input-placeholder {
    color: #6E6E6E;
    font-weight: bold;
}
input:-moz-placeholder {
    color: #8a8a8a;
    font-weight: bold;
}
.alerta_mensajes{    
    font-size:12px;    
    border: 0px solid;
    color:#FF0000;
    /*font-weight:bold;*/
    width: 250px;
}

#id_login_type{
    position:relative;
    top:1%;
}

#div_login{
    width: 100%;
}

#id_register{    
    position:relative;
    top:10px;
    left:-26%;
    width:40%;
    text-align: left;
}

#div_webUserRow{
    position:relative;
    top:-10px;
    width:90%;
        
}

#id_recover_password{    
    position:relative;
    top:-5px;
    left:39%;
    width:200px;
    text-align: left;
}

#id_contact{
    position:relative;
    text-align: center;
    background: #600000;
    color:#fff;
    padding:1%;
}

input[placeholder] {
   font-weight: normal !important;   
}

.form-wrapper {
  margin: 1%;
}
.full-input {
    display: inline-block;
    padding: 3px;
    border: 2px solid blue;
    background: none repeat scroll 0 0 #FFF;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
    display: inline-block;
}
input {
  outline: none;
  border: none;
  display:block;
  line-height: 1.2%;/*em*/
  font-size: 1.5vw;
}

label {
  display: block;
  font-size: 1vw;
  color:#444444;
  text-align:left;
}

#div_left {
    position:relative;
    float:left;
    width:50%;
    height:100%;
    /*background-color: #fff;*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
}

#div_right {
    margin:auto;
    float:right;
    position:relative;
    width:50%;
}

#precarga {
position: fixed;
top:0; left:0;
right:0; bottom:0;
z-index: 2001;
background: #fff url(../img/cubes.png) repeat 0 0 ;/*Este comentario es para estirar la pantalla*/
}

#carga{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/loader.gif) no-repeat center 0;
    opacity: 0.3;
    top: 40%;
    margin: auto;
}

