/*picklist*/
.pickListBody
{
	border-color:black;
	background-color:white;		
}

.pickListHeader
{
	background-image: url(images/header-bg.gif); 
	background-repeat: repeat-x;
	font-family: sans-serif;
	font-size:10pt;
	font-weight: bold;
	padding-top:0px;
	color:gray;
}

.pickLisImgClose{
    position:fixed;
    top:0px;
    left:93%;
    width:8%;
    height:10%;
    cursor: pointer;
   /* border-bottom: 2px solid;
    border-left:  2px solid;
    border-color:#424242;
    border-bottom-left-radius: 10px;
    cursor: pointer;*/    
}

/* grid */
html,body{
	height:100%;
}

.grid2
{
	border-color:#CCCCCC;
	border-width:1px;
	border-style:solid;
	background-color:#CCCCCC;
}


.grid2 TH
{
	color:#fff;
	background-color:#990000;
	font-family:sans-serif;
	font-size:9pt;
	padding:3px;
}

.grid2 TD
{
	color:black;
	background-color:#F7F7F7;
	font-family: sans-serif;
	font-size: 8pt;
	padding:2px;
        cursor: pointer;
}

.grid tr.altColor td
{
	background-color:#F7F7F7;
}

.grid tr.normalColor td
{
	background-color:white;
}
.grid th a
{
	text-decoration:none;
	font-family: sans-serif;
	font-size:10pt;
	font-weight:bold;
	padding:3px;
	color: gray;
}

.grid th a:link
{
	text-decoration:none;
	font-family: sans-serif;
	font-size:10pt;
	padding:3px;
	color: gray;		
}

.grid th a:visited
{
	text-decoration:none;
	font-family: sans-serif;
	font-size:10pt;
	padding:3px;
	color: gray;		
}
	
.grid th a:hover
{
	text-decoration:none;
	color:red;
	background-color:yellow;		
}

.grid TR.hilite TD
{
	background-color:#E3E4FA;
	cursor: pointer;
}	

/* forms */
.label
{
	padding-left: 4px;
}

.formgrid
{
	border-color:#CCCCCC;
	border-width:1px;
	border-style:solid;
	background-color:#F7F7F7;
}


.formgrid TD
{
	color:black;
	font-family: sans-serif;
	font-size: 9pt;
}

.formgrid TH
{
	text-align:left;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding-top:2px;
	color:white;
	background-color:#990000;
	padding-left:4px;
	border-bottom-color:#990000;
	border-bottom-width:1px;
	border-bottom-style:solid;
}

.formgrid TD.formlabel
{
	text-align: right;
}

.formgrid TD.required
{
	 font-style: italic;
	 text-decoration: underline;
}

.formgrid TD.formlabelcrud
{
	text-align: left;
	padding-left:7px;
}

/* forms */

.formgrid2
{
	border-color:#CCCCCC;
	border-width:1px;
	border-style:solid;
	background-color:#F7F7F7;
}


.formgrid2 TD
{
	color:black;
	font-family: sans-serif;
	font-size: 9pt;
}

.formgrid2 TH
{
	text-align:left;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding-top:2px;
	color:white;
	background-color:#990000;
	padding-left:4px;
	border-bottom-color:#990000;
	border-bottom-width:1px;
	border-bottom-style:solid;
}

/* navigation controls */
.navcontrols
{
	width:200px;
}

.navcontrols td
{
	font-family: sans-serif;
	font-size:9pt;
	border-width:0px;
	padding:0px;
	margin:0px;	
}

.banner
{
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	background-color:#990000;
	color:white;
	width:100%;
	padding:3px;
}

/* regular tags */
BODY	
{
	background-color:white;
	font-family: sans-serif;
	font-size: 10pt;
	/*background: white;*/
}

H1 
{
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: bold;
}

H2 
{
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

H3 
{
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

P 
{
	font-family: sans-serif;
	font-size: 10pt;
}

/* hyperlinks */
A
{
	font-family:sans-serif;
	font-size:9pt;
	text-decoration:none;
	font-weight:normal;
}


TH A:link 
{
	color:#FFF;
}


A:link 
{
	color:#464646;
}

A:visited 
{
	color:#464646;
}

A:hover 
{
	color:#990000;
	background-color:grey;
}

/* message box */
.alert
{
	text-align:center;
	color:blue;
	border-style:solid;
	border-width:1px;
	border-color:#CCCCCC;
	background-color:#F7F7F7;
	padding:5px;
	font-family: sans-serif;
	font-size: 10pt;
}

.message
{
	text-align:left;
	border-style:solid;
	border-width:1px;
	border-color:#CCCCCC;
	background-color:#F7F7F7;
	padding:5px;
	font-family: sans-serif;
	font-size: 10pt;

}
.messages

{
      text-align:justify;
      border-style:solid;
      border-width:1px;
      border-color:gray;
      background-color:ivory;
      padding:5px;
      font-family: sans-serif;
      font-size: 8pt;

}

input[type="submit"], input[type="button"], button
{
	cursor:pointer;	
}


input[type="text"], select, textarea, input[type="password"]
{
	border:solid 1px #CCCCCC;
}

input[type="text"]:focus, select:focus, textarea:focus, input[type="password"]:focus
{
	border:solid 1px red;
	background-color:FFFF99;
}


.tool {
	cursor:pointer;	
	vertical-align: middle;
	margin-top:2px;
}

.tool2 {
	cursor:pointer;	
}

/* END IE6 hack */

/*
BEGIN MENU
*/

.menuBody 
{
	height:1100px; 
	margin-left:0px;
	margin-right:0px;
	border-right:dotted 1px silver;
}

.menuContainer
{
	width: 100%;
	border-bottom:dotted 1px silver;
}

.menuTitle
{
	background-color:white;
	color:black;
	font-family:sans-serif;
	font-size:9pt;
	font-weight:normal;
	padding-left:6px;
	padding-top:7px;
	height:24px;
}

.menuItems
{
	padding-bottom:10px;
	text-align:left;
	background-color:white;
}

.menuItem
{
	padding-left:16px;
	color:black;
	font-family:sans-serif;
	font-size:8pt;
	font-weight:normal;
	padding-bottom:5px;
}

div.menuTitle:hover, div.menuItem:hover
{
	cursor:pointer;	
	background-color:Lavender;
	color:blue;
}


	/* BEGIN IE6 hack */
	.menuTitleHover
	{
		cursor:pointer;	
		background-color:Lavender;
		color:blue;
		font-family:sans-serif;
		font-size:9pt;
		font-weight:normal;
		padding-left:6px;
		padding-top:7px;
		height:24px;
	}
	
	.menuItemHover
	{
		cursor:pointer;	
		background-color:Lavender;
		color:blue;
		padding-left:16px;
		font-family:sans-serif;
		font-size:8pt;
		font-weight:normal;
		padding-bottom:5px;
	}
	/* END IE6 hack */


/* END MENU */
