.lospare { 
    background-color: #F9F9F9; 
    text-align:center;
    color: #6E6E6E;
    border-radius: 2px 2px 2px 2px;
}

.losnone {
    background-color: #E6E6E6;
    text-align:center;
    color: #6E6E6E;
border-radius: 20px 20px 20px 20px;
}
