.mainTable{

	border:none;
	width:100%;
	font-family: sans-serif; 
        overflow:hidden;
}

.tHeader{
    position:fixed;  
    background-color: #2a3333;
    top:0;  
    width:100%;
}

.tHeaderDes{    
    width:97%; 
    font-size:100%;
    font-weight: normal; 
    background-color: #2a3333;
    color:#fff;
    z-index:2001;
    border: 0px solid #000000;
}

.tHeaderX{ 
    font-size:100%;
    font-weight: bold;
    background-color: #2a3333;
    color:#fff;
    cursor: pointer;
    z-index:2001;
    border: 1px solid #fff;
}

.tablaNivel0{    
    margin-top: 13%;
    background:#F2F2F2;    
    text-align: left;      
} 

.tablaNivel0 td{   
    cursor: pointer;
    color:#424242;  
    font-style: normal;
    font-family: sans-serif;
    font-size:90%;
}

