.divAcordeonTitle{
 	border: solid 0px;
	cursor: pointer;
	width:100%;
	background-color:#2c2c2c;
	color:#fff;
	margin-top:0px;
	margin-bottom:4px;
	margin-right:0px;
	margin-left:0px;
}

.divAcordeonSubTitle1{
	border:solid 0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding-top:10px;
	padding-bottom:10px;
	margin-right:10px;
	float:left;
}

.divAcordeonSubTitle2{
	border:solid 0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding-top:10px;
	padding-bottom:10px;
}

.lospare{ 
	color:#424242;
	background-color: #F9F9F9; 
	border: 0.5px solid;
	font:normal 12px Trebuchet MS;
	text-align:center;
	font-weight:bold;
}
.losnone{
	color:#424242;
	background-color: #E6E6E6;
	border: 0.5px solid;
	font:normal 12px Trebuchet MS;
	text-align:center;
	font-weight:bold;
}

.titleAcordeon{
	margin-top:1px;
	margin-bottom:2px;
	margin-right:3px;
	margin-left:4px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:5px;
}

.tableAcordeon{
	border:solid 0px;
	width:100%;
	margin-top:0px;
	margin-bottom:0px;	
}

.tdAcordeon{
	width:90%;
	text-align: left;
}


