.fondo_opaco_msj{
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index:1001;
    opacity:.50;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
}


.ventana_modal_msj {
    /* display: none;*/
    position: fixed;
    top: 30%;
    left: 30%;
    width: auto;
    height: auto;
    padding: 16px;
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border: 5px solid;
    border-color:gray;
    border-radius: 10px;
}
