<!-- BEGIN: main -->
    <div align="center">
<input type="hidden" name="id" id="id" value='{ID}'>
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Numero</td>
                <td>
                    <input id="numero"
                           name="numero"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{NUMERO}"
                           {NUMERO_READONLY}>
                </td>
            </tr>
            <tr>
                <td>Fecha</td>
                <td>
                    <input id="idfecha"
                           name="fecha"
                           autocomplete="off"
                           style="width: 98%;"
                           data-validation="date"
                           value="{FECHA}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "idfecha",
                            ifFormat      : "%Y-%m-%d",
                            button        : "id_fecha",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Requisicion</td>
                <td>
                    <select id="id_requisicion" name="id_requisicion" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: requisicion -->
                        <option value={ID_REQUISICION} {SELECTED_REQUISICION}>{DES_REQUISICION}</option>
                        <!-- END: requisicion -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Proveedor</td>
                <td>
                    <select id="id_proveedor" name="id_proveedor" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: proveedor -->
                        <option value={ID_PROVEEDOR} {SELECTED_PROVEEDOR}>{DES_PROVEEDOR}</option>
                        <!-- END: proveedor -->
                    </select>
                </td>
            </tr>

            <tr>
                <td>Forma Pago</td>
                <td>
                    <select id="id_forma_pago" name="id_forma_pago" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: forma_pago -->
                        <option value={ID_FORMA_PAGO} {SELECTED_FORMA_PAGO}>{DES_FORMA_PAGO}</option>
                        <!-- END: forma_pago -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Recibido Por</td>
                <td>
                    <input id="recibido_por"
                           name="recibido_por"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{RECIBIDO_POR}">
                </td>
            </tr>
            <tr>
                <td>Recibido Fecha</td>
                <td>
                    <input id="idrecibido_fecha"
                           name="recibido_fecha"
                           autocomplete="off"
                           style="width: 98%;"
                           data-validation="date"
                           value="{RECIBIDO_FECHA}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "idrecibido_fecha",
                            ifFormat      : "%Y-%m-%d",
                            button        : "id_recibido_fecha",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Recibido Hora</td>
                <td>
                    <input id="idrecibido_hora"
                           name="recibido_hora"
                           autocomplete="off"
                           style="width: 98%;"
                           class="time_element"
                           data-validation="time"
                           value="{RECIBIDO_HORA}"                           maxlength="8"
                           onkeypress="return acceptTime(event);"
                           readonly>
                </td>
            </tr>
            <tr>
                <td>Evaluado Por</td>
                <td>
                    <input id="evaluado_por"
                           name="evaluado_por"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{EVALUADO_POR}">
                </td>
            </tr>
            <tr>
                <td>Evaluado Fecha</td>
                <td>
                    <input id="idevaluado_fecha"
                           name="evaluado_fecha"
                           autocomplete="off"
                           style="width: 98%;"
                           data-validation="date"
                           value="{EVALUADO_FECHA}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "idevaluado_fecha",
                            ifFormat      : "%Y-%m-%d",
                            button        : "id_evaluado_fecha",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Evaluado Hora</td>
                <td>
                    <input id="idevaluado_hora"
                           name="evaluado_hora"
                           autocomplete="off"
                           style="width: 98%;"
                           class="time_element"
                           data-validation="time"
                           value="{EVALUADO_HORA}"                           maxlength="8"
                           onkeypress="return acceptTime(event);"
                           readonly>
                </td>
            </tr>
        </table>
    </div>
<!-- END: main -->
