<!-- BEGIN: main -->
<div  align="center">
    <div id="sub_titulo">Detalle</div>
    <div>
        <table style="cursor:pointer;" onclick="onOffPanelDetalle();">
            <tr>
                <td>
                    <div class="subtitulo_datos">Agregar Información</div>
                </td>
                <td>
                    <div id="id_img_detalle" title="Mostrar Panel" class="img_show"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="id_panel_detalle" style="display: none;">
        <input id="id_detalle" name="id_detalle" value="0" type="hidden">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos de Detalles</th>
            </tr>
            <tr>
                <td>Articulo</td>
                <td>
                    <select id="id_articulo" name="id_articulo" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: articulo -->
                        <option value={ID_ARTICULO} {SELECTED_ARTICULO}>{DES_ARTICULO}</option>
                        <!-- END: articulo -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Precio Unitario</td>
                <td>
                    <input id="precio"
                           name="precio"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{PRECIO}">
                </td>
            </tr>
            <tr>
                <td>Cantidad</td>
                <td>
                    <input id="cantidad"
                           name="cantidad"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{CANTIDAD}">
                </td>
            </tr>
            <tr>
                <td>Precio Total</td>
                <td></td>
            </tr>
        </table>
        <br/>
        <button id="addReg" type="button" onClick="valEnvioDetalle();">
            <img class="accion" src="../../../{APPORG}/img/add.png" align="absmiddle" border="0" > Agregar
        </button>
        <br/><br/>
    </div>
    <table id="id_tab_detalle" class="tabla_grid" width="100%">
        <thead>
            <tr>

                <th>Articulo</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Precio Total</th>
                <th>Acción(es)</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN: tab_detalle -->
            <tr id={ID} class={CLASS_TR}>
                <td id="{ID_ARTICULO}">{DES_ARTICULO}</td>
                <td>{PRECIO_UNITARIO}</td>
                <td>{CANTIDAD}</td>
                <td>{PRECIO_TOTAL}</td>

                <td>
                    <img class="accion"
                        src="../../../../../{APPORG}/img/edit.png"
                        title="Editar datos..."
                        onclick="editDetalle(this);valBtnClose();">
                    <img class="accion"
                        src="../../../../../{APPORG}/img/cross.png"
                        title="Eliminar/Borrar datos..."
                        onclick="sendDetalleDelete({ID});valBtnClose();">
                </td>
            </tr>
            <!-- END: tab_detalle -->
        </tbody>
        <tfood>
            <tr>
                <td></td><td></td><td></td><td></td><th>Monto SubTotal</th>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><th>% del Iva</th>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><th>Monto Total</th>
            </tr>
        </tfood>
    </table>
    <div align="left"><label style="opacity:0.5">Monto en Letras</label>
                            <textarea id="id_direccion"
                              name="direccion"
                              style="width: 50%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{DIRECCION}</textarea>
    </div>
</div>
<!-- END: main -->
