<!-- BEGIN: main -->
    <div align="center">
<input type="hidden" name="id" id="id" value='{ID}'>
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Orden</td>
                <td>
                    <input id="orden"
                           name="orden"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{ORDEN}"
                           {ORDEN_READONLY}>
                </td>
            </tr>
            <tr>
                <td>Tipo</td>
                <td>
                    <input type="radio"
                           id="id_sexo_femenino"
                           name="sexo"
                           data-validation="radio"
                           value="t" checked {SELECTED_1_SEXO_FEMENINO}> Entrada
                    <input type="radio"
                           id="id_sexo_masculino"
                           name="sexo"
                           data-validation="radio"
                           value="f" {SELECTED_2_SEXO_MASCULINO}> Salida</div>
                    <!--input type="radio"
                           id="id_sexo_femenino1"
                           name="sexo"
                           data-validation="radio"
                           value="t1" {SELECTED_1_SEXO_FEMENINO}> Reverso Entrada
                    <input type="radio"
                           id="id_sexo_masculino1"
                           name="sexo"
                           data-validation="radio"
                           value="f1" {SELECTED_2_SEXO_MASCULINO}>Reverso Salida</div-->
            </tr>
            <tr>
                <td>Fecha</td>
                <td>
                    <input id="idfecha"
                           name="fecha"
                           autocomplete="off"
                           style="width: 98%;"
                           data-validation="date"
                           value="{FECHA}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "idfecha",
                            ifFormat      : "%Y-%m-%d",
                            button        : "id_fecha",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Dependencia</td>
                <td>
                    <select id="id_dependencia" name="id_dependencia" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: dependencia -->
                        <option value={ID_DEPENDENCIA} {SELECTED_DEPENDENCIA}>{DES_DEPENDENCIA}</option>
                        <!-- END: dependencia -->
                    </select>
                </td>
            </tr>
        </table>
    </div>
<!-- END: main -->
