#inicio{
    background:url('../img/fondo.png') center no-repeat;
    background-size: 100% 100%; 
    height: 366px;
    width:100%;
    opacity: 0.1;
}

.fondo_opaco_maten_nacio{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index:1001;
    opacity:.50;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
}

.ventana_modal_maten_nacio {
    display: none;
    position: fixed;
    width: 400px;
    height:auto;
    top: 10%;
    padding: 3em 3em;
    left: 30%;
    margin-right:0;
    
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}
.imagen_cerrar_modal_maten_nacio {
    position:relative;
    top:-36px;
    left:36px;
    width:20px;
    height:20px;
    border-bottom: 2px solid;
    border-left:  2px solid;
    border-color:#424242;
    border-bottom-left-radius: 10px;
    
}

.thtitle{
    color: #fff;
    background:#BA3131;
    height: 4%;
    text-align: center;
    padding: 8px 6px 1px 6px;
    text-transform: uppercase;
    border: #fff; 
}
.block{
    display: none;
}
.fondo_opaco_Mnacional{
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EBEBEB;
    z-index:1001;
    opacity:1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}


.ventana_modal_Mnacional {
    /* display: none;*/
    position: fixed;
    width: 80%;
    max-height:75%;
    top: 5%;
    padding: 3em 3em;
    left: 6.8%;
    margin-right:0;
    
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}

/*.ventana_modal_MImportado {
    display: none;
    position: fixed;
    width: 1300px;
    max-height:650px;
    top: 5%;
    padding: 3em 3em;
    left: 6.8%;
    margin-right:0;
    
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}*/


.imagen_cerrar_modal_Mnacional{
    position:relative;
    top:-36px;
    left:36px;
    width:20px;
    height:20px;
    border-bottom: 2px solid;
    border-left:  2px solid;
    border-color:#424242;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    
}
.fondo_opaco_MImportado{
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EBEBEB;
    z-index:1001;
    opacity:1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}


.ventana_modal_MImportado {
    /* display: none;*/
    position: fixed;
    width: 80%;
    max-height:75%;
    top: 5%;
    padding: 3em 3em;
    left: 6.8%;
    margin-right:0;
    
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}


.imagen_cerrar_modal_MImportado{
    position:relative;
    top:-36px;
    left:36px;
    width:20px;
    height:20px;
    border-bottom: 2px solid;
    border-left:  2px solid;
    border-color:#424242;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    
}
.fondo_opaco_archivo{
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #A4A4A4;
    z-index:2000;
    opacity:.50;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
}

.ventana_modal_archivo {
    /* display: none;*/
    position: fixed;
    width: 500px;
    height:auto;
    top: 30%;
    padding: 3em 3em;
    left: 30%;
    margin-right:0;
    background: #fff;
    color: #333;
    z-index:2001;
    overflow: auto;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}

.imagen_cerrar_modal_archivo{
    position:relative;
    top:-36px;
    left:36px;
    width:20px;
    height:20px;
    border-bottom: 2px solid;
    border-left:  2px solid;
    border-color:#424242;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    
}
.divtable {
    width: 100%;
    border: solid 0.3px #E4E4E4;
    border-collapse: collapse;

}
.divtable td{
    border: solid 0.3px #E4E4E4;
    padding: 3px 3px 3px 3px;
}

.fieldset {
    border-color: #666;
    border-radius: 6px;
    border-style:dotted;
    min-height: auto;
	min-width: auto;
}

.fieldset:hover {
    border-color: #f00;
}

.fieldset  legend {
    color: #B40404;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
}

.guia {
    float: right;
    font-size: 20px;
    font-weight: 500;
    color: #B40404;
}

.numero_guia {
    font-size:20px;
    font-weight: 500;
    color: #FE2E2E;
}

.tabla_scroll {
    border: 1px solid #D8D8D8;
    -moz-box-shadow: 1px 2px 3px #000000;
    -webkit-box-shadow: 1px 2px 3px #000000;
    box-shadow: 0.5px 1px 1.5px #000000;
    padding-bottom: 1px;
    margin-bottom: 5px;
    font-family: sans-serif;
        border-radius: 3px 3px 3px 3px; 
        max-height: 80px;
    /*-webkit-border-radius: 5px 5px;   Safari  
    -moz-border-radius: 15px 15px;      Firefox */
}

.tabla_scroll th {
    font-size:14px;
    padding: 3px 3px 3px 3px;
    background-color: #BA3131;/*#bf5b5b;/*#BA3131;/*#A2A2A2*/
    font-size: 13px;
    font-family: sans-serif;
    font-weight: normal;
    color:#FFFFFF;
    border: 1px dotted #000000;
    max-height: 80px;
    /*-webkit-border-radius: 5px 5px;  /* Safari  
    -moz-border-radius: 15px 15px;      Firefox */
}

/*.tabla_grid_total td {
    font-size:14px;
    padding: 3px 3px 3px 3px;
    background-color: #BA3131;/*#A2A2A2*/
    /*font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    color:#FFFFFF;
    border: 2px dotted #000000;*/
    /*-webkit-border-radius: 5px 5px;  /* Safari  
    -moz-border-radius: 15px 15px;      Firefox */
/*}*/

.tabla_scroll td {
    padding: 3px 3px 3px 3px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13px;
    color:#2E2E2E;
    max-height: 80px;
    /*border: 1px solid #2E2E2E;*/
}
.tabla_scroll tbody {
        max-height: 80px;
        overflow-y: scroll;
}

.img_botton {
    border: 0px;
    vertical-align: middle;
}

.icon_radio {
    height: 100%; 
    opacity: .9; 
    width:100%;
}
