<!-- BEGIN: main -->
<script src="../../../../../{FDSOIL}/js/calendar.js"></script>
<form action="" name="form" method="POST">
    <input type="hidden" name="id" id="id" value='{ID}'>
    <div id='sub_titulo'>Registro de articulo</div>
    <div align="center">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>
                    <input id="id_nombre"
                           name="nombre"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{NOMBRE}"
                           {NOMBRE_READONLY}>
                </td>
            </tr>
            <tr>
                <td>Descripcion</td>
                <td>
                    <textarea id="id_descripcion"
                              name="descripcion"
                              style="width: 98%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{DESCRIPCION}</textarea>
                </td>
            </tr>
            <tr>
                <td>Clasificador</td>
                <td>
                    <select id="id_clasificador" name="id_clasificador" style="width: 100%;">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: clasificador -->
                        <option value={ID_CLASIFICADOR} {SELECTED_CLASIFICADOR}>{DES_CLASIFICADOR}</option>
                        <!-- END: clasificador -->
                    </select>
                </td>
            </tr>
        </table>
    </div>
    {BUTTONS_PANEL}
</form>
<!-- END: main -->
