<!-- BEGIN: main -->
<div class="div_datos_cod_factura_fec_factura" >
    <div style="float:right;aling:right; width:75%;">
        <table class="tabla_datos_usuario_f" width="100%" border ="0">
            <tr>
                <td class='subtitulo_datos_f' width="100%" align="right" id="id_td_subtitulos_datos">
                Actualizar Alfabetica: {CEDULA} - {NOMBRES_Y_APELLIDOS}
                </td>
            </tr>
        </table>
    </div>                              
</div>
<!-- END: main -->
