.mainTable{

	border:none;
	width:100%;
	font-family: sans-serif; 
}

.tHeader{
    position:fixed;  
    background: #00599B;
    top:0;  
    width:100%;
}

.tHeaderDes{    
    width:97%; 
    font-size:100%;
    font-weight: normal; 
    background: #00599B;
    color:#fff;
    z-index:2001;
    border: 0px solid #000000;
}

.tHeaderX{ 
    font-size:100%;
    font-weight: bold;
    background: #00599B;
    color:#fff;
    cursor: pointer;
    z-index:2001;
    border: 1px solid #fff;
}

.tablaNivel0{
    margin-top: 5%;
    background:#F2F2F2;    
    text-align: left;      
} 

.tablaNivel0 td{   
    cursor: pointer;
    color:#424242;  
    font-style: normal;
    font-family: sans-serif;
    font-size:90%;
}

.tablaNivel1 {
      text-align: left;       
}

.tablaNivel1 td{     
    cursor: pointer;
    color:#585858; 
    font-family:  sans-serif;  
    font-style:italic;
    font-size:90%;
}

.divNivel1{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 10%;        
}


.tablaNivel2 {    
    text-align: left;
}

.tablaNivel2 td{
    cursor: pointer;
    color:#424242;  
    font-family: sans-serif;  
    font-style:normal;
    font-size:90%;
}

.divNivel2{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 10%;
}



