.mainTable{
	border:none;
	width:100%;
	font-family: sans-serif; 
}

.tHeader{
    position:fixed;  
    background: #2c2c2c;
    top:0;  
    width:100%;
    z-index:2001;
}

.tHeaderDes{    
    width:99%; 
    font-size:100%;
    font-weight: normal; 
    background: #2c2c2c;
    color:#fff;
    z-index:2001;
    border: 1px solid #fff;
}

.tHeaderX{ 
    width:1%;
    font-size:100%;
    font-weight: bold;
    background: #2c2c2c;
    color:#fff;
    cursor: pointer;
    z-index:2001;
    border: 1px solid #fff;
    text-align: ;
}

.tablaNivel0{
    margin-top: 2.5%;
    position: relative;
    background:#F2F2F2;    
    text-align: left;      
} 

.tablaNivel0 td{   
    cursor: pointer;
    color:#424242;  
    font-style: normal;
    font-family: sans-serif;
    font-size:90%;
}

.tablaNivel1 {
      text-align: left;       
}

.tablaNivel1 td{     
    cursor: pointer;
    color:#585858; 
    font-family:  sans-serif;  
    font-style:italic;
    font-size:90%;
}

.divNivel1{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 5%;        
}


.tablaNivel2 {    
    text-align: left;
}

.tablaNivel2 td{
    cursor: pointer;
    color:#424242;  
    font-family: sans-serif;  
    font-style:normal;
    font-size:90%;
}

.divNivel2{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 5%;
}


.tablaNivel3 {
    text-align: left;
}

.tablaNivel3 td{
    cursor: pointer;
    color:#585858;  
    font-family: sans-serif;  
    font-style:italic;
    font-size:90%;
}

.divNivel3{
	margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 5%;
}

.tablaNivel4 {
    text-align: left;
}

.tablaNivel4 td{
    cursor: pointer;
    color:#424242;  
    font-family: sans-serif;  
    font-style:normal;
    font-size:90%;
}

.divNivel4{
	margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 5%;
}



.tablaNivel5 {
    text-align: left;
}

.tablaNivel5 td{
    cursor: pointer;
    color:#585858;  
    font-family: sans-serif;  
    font-style:italic;
    font-size:90%;
}

.divNivel5{
	margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 5%;
}

.tablaNivel6 {
    text-align: left;
}

.tablaNivel6 td{
    cursor: pointer;
    color:#585858;  
    font-family: sans-serif;  
    font-style:normal;
    font-size:90%;
}

.divNivel6{
	margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 5%;
}

.tablaNivel7 {
    text-align: left;
}

.tablaNivel7 td{
    cursor: pointer;
    color:#585858;  
    font-family: sans-serif;  
    font-style:italic;
    font-size:90%;
}

.divNivel7{
	margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 5%;
}

.tablaNivel8 {
    text-align: left;
}

.tablaNivel8 td{
    cursor: pointer;
    color:#585858;  
    font-family: sans-serif;  
    font-style:normal;
    font-size:90%;
}

.divNivel8{
	margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 5%;
}

.tablaNivel9 {
    text-align: left;
}

.tablaNivel9 td{
    cursor: pointer;
    color:#585858;  
    font-family: sans-serif;  
    font-style:italic;
    font-size:90%;
}

.divNivel9{
	margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 5%;
}

.tablaNivel10 {
    text-align: left;
}

.tablaNivel10 td{
    cursor: pointer;
    color:#585858;  
    font-family: sans-serif;  
    font-style:normal;
    font-size:90%;
}

.divNivel10{
	margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 5%;
}
