#popup_container {
	font-family: Arial, sans-serif;
	font-size: 16px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 2px #069;
	color: #6E6E6E;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin:0 auto 0;
	outline:none;
	z-index:2999;
	direction:ltr;
	display:block;
        text-align: center;
}

#popup_title {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #fff;        
        background:#00599B;
text-shadow: 0 1px 0 #000;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
	-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
}

#popup_content {
	/*background: 16px 16px no-repeat url(images/info.gif);*/
	padding:20px;
	margin: 0em;
}

#popup_content.alert {
	/*background-image: url(images/info.gif);*/
}

#popup_content.confirm {
	/*background-image: url(images/important.gif);*/
}

#popup_content.prompt {
	/*background-image: url(images/help.gif);*/
}

#popup_message {
	padding-left:0px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}
