@charset "utf-8";

button{
        /*border-radius: 5px 5px 5px 5px;*/
        margin:5px 5px 5px 5px;
	/*-moz-box-shadow: 1px 1px 1px 1px #9c9c9c;
	-webkit-box-shadow: 1px 1px 1px 1px #9c9c9c;
	box-shadow: 1px 1px 1px 1px #9c9c9c;*/
        background:#424242;
        border-width:0;
        height:50px;

/*-webkit-box-shadow: 4px 3px 9px -3px rgba(43,5,12,1);
-moz-box-shadow: 4px 3px 9px -3px rgba(43,5,12,1);
box-shadow: 4px 3px 9px -3px rgba(43,5,12,1);*/

}

button[type="button"]{ 
background-color:# #808b96 ;
        background:#D8D8D8;
	font: 1vw Arial;
/*	background: -moz-linear-gradient(#FFFFFF, #D8D8D8); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #D8D8D8),color-stop(1, #FFFFFF));	
	background: -webkit-linear-gradient(#FFFFFF, #D8D8D8);	
	background: -o-linear-gradient(#FFFFFF, #D8D8D8);
	background: -ms-linear-gradient(#FFFFFF, #D8D8D8);
	background: linear-gradient(#FFFFFF, #D8D8D8);*/

cursor:pointer;
/*border-color: #BFBFBF;*/
color:#6E6E6E;

}

button[type="button"]:hover{ 
/*border-color: #BFBFBF;*/
        background:#A9D0F5;
color:#000;


-webkit-box-shadow: 13px 12px 39px -12px rgba(43,5,12,1);
-moz-box-shadow: 13px 12px 39px -12px rgba(43,5,12,1);
box-shadow: 13px 12px 39px -12px rgba(43,5,12,1);

}

input{
    cursor: pointer;
font-family: Arial;
    color: #6E6E6E;
    /*color:#424242;*/
    background-color:#FFF;
    border-width:1px;
    border-color:#fff;
    border-radius: 3px 3px 3px 3px;    
}

input:hover{
    border-color:#000;
}

input[disabled]{
    font-family: Arial;
    color:#6E6E6E;
    background-color:#eee;
    border-width:1px;
}

input[readonly]{
    cursor: pointer;
    font-family: Arial;
    color:#6E6E6E;
    background-color:#eee;
    border-width:1px;
}

select{
    cursor: pointer;
    font-family: Arial;
    /*color:#424242;*/
    color: #6E6E6E;
    background-color:#FFF;
    border-width:1px;
    border-color:#fff;
    border-radius: 3px;
    border-radius: 3px 3px 3px 3px; 
}

select:hover{
    border-color:#000;
}

select[readonly],[disabled]{
    cursor: pointer;
    font-family: Arial;
    color:#6E6E6E;
    background-color:#E6E6E6;
    border-width:1px;
}

textarea{
    font-family: Arial;
    cursor: pointer;
    color:#424242;
    background-color:#FFF;
    border-width:1px;
    border-color:#fff;
    border-radius: 3px 3px 3px 3px; 
}

textarea:hover{
    border-color:#000;
}

textarea[disabled]{
    font-family: Arial;
    color:#6E6E6E;
    background-color:#E6E6E6;
    border-width:1px;
}

textarea[readonly]{
    cursor: pointer;
    font-family: Arial;
    color:#6E6E6E;
    background-color:#FFF;
    border-width:1px;
}

#desglose {

    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 0px;
}


h1,h2,h3,h4,p{font-family: Arial;}


.titulo_contenido {
    font-weight: normal; 
    font-size:20px;
    font-family: Arial;
    color: #6E6E6E;
    text-align: center;
    padding-bottom: 10px;
}

.subtitulo_contenido {
    float: center; 
    font-weight: normal; 
    font-size:18px;
    font-family: Arial;
    color: #6E6E6E;
    padding-bottom: 10px;
}

.divGroupField{
    margin:3px auto 3px auto; 
    width:90%; 
    border: 0px solid;
}

.divGroupFieldBy{
    margin:3px auto 3px auto; 
    width:100%; 
    border: 0px solid;

}

.tabla_titulo {
    font-family: Arial;
    text-align: center;
    color:#6E6E6E;
    background-color: #d8e0e4;
}

.divTitleField{
    float: left; 
    width: 30%; 
    border: 0px solid;
    text-align: left;
    font-size:16px;
    font-family: Arial;
    color: #6E6E6E;  
    font-family: Arial;
}

.divTitleFieldBy{
    float: left; 
    width: 20%; 
    border: 0px solid;
    text-align: left;
    font-size:16px;
    font-family: Arial;
    color: #6E6E6E;  
    font-family: Arial;
}

.divValueFieldBy{
    float: left; 
    width: 70%; 
    border: 0px solid;
    color:#FF0000;
    font-weight:bold;
}

.divValueField{
    float: left; 
    width: 60%; 
    border: 0px solid;
    color:#FF0000;
    font-weight:bold;
}

.comboBox{
    width:100%;
    height:24px;
    font-size:12px;
}

.comboBoxBig{
    width:900px;
    height:24px;
    font-size:12px;
}

.comboBoxNacionalidad{
    width:38px;
    height:24px;
    font-size:12px;
}

.botonera{
    position:relative;
    top:10px;
    left: auto;  
    text-align:center;
    margin-top: 10px;
    margin-left: 10px; 
    margin-bottom: 10px;
    margin-right: 10px;
}

.botonera input[type="button"], input[type="submit"], input[type="reset"]{
    opacity: 10;
    background-color:#5f5f5f;
    border:0;
    border-radius: 10px;
    color:#fff;
    margin-right: 8px; 
    cursor:pointer;
    font-family: Arial;
    font-size: 1vw;
    padding-left:3%;
    padding-right:3%;
    padding-top:0.5%;
    padding-bottom:0.5%;
    margin-top:1%;
    margin-bottom:1%;
    /*Efectos de agrandado transform de botom solo funcionan en opera, mozilla, chrome y zafari*/
    -moz-box-shadow: 2.5px 5px 5px #0B243B;
    -webkit-box-shadow: 2.5px 5px 5px #0B243B;
    box-shadow: 2.5px 5px 5px #0B243B;

}

.botonera input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover{
    background-color:#3f3f3f;
    -moz-box-shadow: 5px 10px 10px #0B243B;
    -webkit-box-shadow: 5px 10px 10px #0B243B;
    box-shadow: 5px 10px 10px #0B243B;


}

a {
    font-family: Arial;
    font-size: 18px;
}

#etiqueta{
    margin-top:50px;    
    width:100%;
    height:1px;
    padding-bottom: 50px;
    clear: both;
}

.etiqueta_nombre{
    float: left; 
    width: 20%; 
    border: 0px solid;
    text-align:left;
    font-size:14px;
    color:#8A0808;
}

.etiqueta_valor{
    float: left; 
    width: 80%; 
    border: 0px solid;
    text-align:left;
    font-size:14px;
    font-weight: bold;
    color:#8A0808;
}

#login td,tr,th{
    padding-bottom:12px;
    padding-left:12px;
    padding-right:12px;
    padding-top: 12px;
}

#windowsdetect {
    color:red; 		
}

.tabla_titulo {
    font-family: Arial;
    text-align: center;
    color:#6E6E6E;
}

.tabla_subtitulo {
    font-weight:bold;
    font-size:20px;
    color:#6E6E6E;
}

.tabla_entrada {
    font-weight:normal;
    font-size:20px;	
}

#tabla_mensajes td,tr,th {
    padding-bottom:8px;
    padding-left:8px;
    padding-right:8px;
    padding-top: 8px;
}

.tabla_grid {
    /*border: 1px solid #D8D8D8;
    -moz-box-shadow: 1px 2px 3px #000000;
    -webkit-box-shadow: 1px 2px 3px #000000;
    box-shadow: 0.5px 1px 1.5px #000000;*/
    padding-bottom: 1px;
    margin-bottom: 5px;
    font-family: Arial;
        border-radius: 3px 3px 3px 3px; 
background: transparent ;
    /*-webkit-border-radius: 5px 5px;   Safari  
    -moz-border-radius: 15px 15px;      Firefox */
}



.tabla_grid th {
    font-size:16px;
    padding: 3px 3px 3px 3px;
    background-color: #BA3131;/*#bf5b5b;/*#BA3131;/*#A2A2A2*/
    font-size: 18px;
    font-family: Arial;
    font-weight: normal;
    color:#FFFFFF;
    border: 0px dotted #000000;
    border-radius: 2px 2px 2px 2px;
    padding: 7px 20px;
    background:  #00599B;/* #424242;*/
    /*-webkit-border-radius: 5px 5px;  /* Safari  
    -moz-border-radius: 15px 15px;      Firefox */
}



/*.tabla_grid_total td {
    font-size:14px;
    padding: 3px 3px 3px 3px;
    background-color: #BA3131;/*#A2A2A2*/
    /*font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    color:#FFFFFF;
    border: 2px dotted #000000;*/
    /*-webkit-border-radius: 5px 5px;  /* Safari  
    -moz-border-radius: 15px 15px;      Firefox */
/*}*/

.tabla_grid td {
    padding: 3px 3px 3px 3px;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    color: #6E6E6E;
   /* color:#2E2E2E;*/
    /*border: 1px solid #2E2E2E;*/
}

.losnone { 
    background-color: #F9F9F9; 
    text-align:center;
}

.lospare {
    background-color: #E6E6E6;
    text-align:center;
}

.div_datos_usuario {
    position:relative;
    top:-50px;
    left:75px;
    width:800px;
}

.tabla_datos_usuario {
    background-color: #00599B;
    color:#000;
    /*background-color:#FFFFFF;*/
    font-family: Arial;
    /*font-weight: bold;*/
}

.tabla_datos_usuario_f {

    color:#000;
    /*background-color:#FFFFFF;*/
    font-family: Arial;
    /*font-weight: bold;*/
}

.subtitulo_datos_f {
    /*background-color:#FFFFFF;*/
    color:#6E6E6E;
    font-size:16px;
    /*font-weight: bold;*/
}

.datos_per_entrada_f {
    /*background-color:#FFFFFF;*/
    padding-left:10px;
    color:#00599B;
    font-weight:nomal;
    font-size:14px;
}

.div_datos_usuario_empresa {
    background-color: #00599B;
    position:relative;
    left:3%;
    width:100%;
    min-height: 65px;
}

.div_datos_cod_factura_fec_factura {
    position:relative;
    top:10%;
    width:100%;
    min-height: 35px;
}

.tabla_datos_factura {
    color:#000;
    /*background-color:#FFFFFF;*/
    font-family: Arial;
    /*font-weight: bold;*/
}

.tabla_datos_empresa {
    color:#000;
    /*background-color:#FFFFFF;*/
    font-family: Arial;
    /*font-weight: bold;*/
}

.subtitulo_datos {
    /*background-color:#FFFFFF;*/
    color:#000;
    font-size:16px;
    /*font-weight: bold;*/
}

.datos_per_entrada {
    /*background-color:#FFFFFF;*/
    padding-left:10px;
    color:#6E6E6E;
    font-weight:nomal;
    font-size:14px;
}

.datos_per_factura {
    /*background-color:#FFFFFF;*/
    padding-left:10px;
    color:#000;
    font-weight:nomal;
    font-size:14px;
}

.fondo_opaco{
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2E2E2E;/*none repeat scroll 0 0 #A4A4A4;*/
    z-index:2001;
    opacity:.5;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
}

.ventana_modal {
    /* display: none;*/
    position: fixed;
    top: 30%;
    left: 30%;
    width: auto;
    height: auto;
    padding: 16px;
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border: 5px solid;
    border-color:gray;
    border-radius: 10px;
}



.tabla_grid_total  {
    font-size:13px;
    padding: 3px 3px 3px 3px;
    color:#FFFFFF;
    background-color: #BA3131;/*#A2A2A2*/
    font-family: Arial;
    font-weight: normal;

    border: 2px dotted #000000;
    /*-webkit-border-radius: 5px 5px;  /* Safari  
    -moz-border-radius: 15px 15px;      Firefox */
}

.tabla_grid_total td {
    padding: 3px 3px 3px 3px;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    color:#FFFFFF;
    /*border: 1px solid #2E2E2E;*/
}

.colum{
    width: 100px;
}
.row{
    width: 350px;
}
.campos_recuperar_clave{
    width: 100%;
}

.alerta_mensaje{
    font-size:12px;
    color:#990000;
}
.alerta_mensajes{    
    font-size:12px;    
    border: 0px solid;
    color:#FF0000;
    font-weight:normal;
    width: 250px;
}

.separador{
    border: solid 1px #424242;
    margin: 5px 5px 5px 5px;
    width: 500px;
    padding-bottom: 10px;
}

.separador tr td{
    text-align: center;
}

#form_registro_inter{
    position: relative;
    left:27%;
    top:10%;
    text-align: center;
    
}





.fondo_opaco_ciiu{
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index:1001;
    opacity:.50;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
}


.ventana_modal_ciiu {
    /* display: none;*/
    position: fixed;
    width: 860px;
    height:600px;
    top: 5%;
    padding: 3em 3em;
    left: 20%;
    margin-right:0;
    
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}


.imagen_cerrar_modal_ciiu{
    position:relative;
    top:-36px;
    left:36px;
    width:20px;
    height:20px;
    border-bottom: 2px solid;
    border-left:  2px solid;
    border-color:#424242;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    
}

.ventana_modal_catalogo_picklist {
    position: fixed;
    /*width: 860px;
    height:600px;*/
    top: 5%;
    padding: 3em 3em;
    left: 20%;
    margin-right:0;
    
    background: #fff;
    color: #333;
    z-index:2002;
    overflow: none;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}

.ventana_modal_catalogo {
    position: fixed;
    /*width: 860px;
    height:600px;*/
    top: 5%;
    padding: 3em 3em;
    left: 20%;
    margin-right:0;
    
    background: #fff;
    color: #333;
    z-index:2002;
    overflow: auto;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}

.imagen_cerrar_modal {
    position:relative;
    top:-36px;
    left:36px;
    width:20px;
    height:20px;
    border-bottom: 2px solid;
    border-left:  2px solid;
    border-color:#424242;
    border-bottom-left-radius: 10px;
    
}





.td_blocked_field_title{
    font-style:italic;
    color:#BA3131;
}

.tabla_grid_blocked {
border: 1px solid #D8D8D8;
    -moz-box-shadow: 1px 2px 3px #000000;
    -webkit-box-shadow: 1px 2px 3px #000000;
    box-shadow: 0.5px 1px 1.5px #000000;
    padding-bottom: 1px;
    margin-bottom: 5px;
    border-radius: 3px 3px 3px 3px; 

    /*-webkit-border-radius: 5px 5px;   Safari  
    -moz-border-radius: 15px 15px;      Firefox */
}

.tabla_grid_blocked th {
    font-size:14px;
    padding: 3px 3px 3px 3px;
    background-color: #BA3131;/*#A2A2A2*/

	background: -moz-linear-gradient(#b6b6b6, #838383); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #b6b6b6));	
	background: -webkit-linear-gradient(#b6b6b6, #838383);	
	background: -o-linear-gradient(#b6b6b6, #838383);
	background: -ms-linear-gradient(#b6b6b6, #838383);
	background: linear-gradient(#b6b6b6, #838383); 

    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    font-style:italic; 
    color:#FFFFFF;
    border: 1px dotted #000000;
    /*-webkit-border-radius: 5px 5px;  /* Safari  
    -moz-border-radius: 15px 15px;      Firefox */
}


.tabla_grid_blocked td {
    padding: 3px 3px 3px 3px;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    color:#6E6E6E;
}

.td_blocked_field {    
    font-style:italic;   
    color:#BA3131;
}

.td_blocked_title {  
    font-style:italic;   
    color:#424242;
}

.sub_titulo {
	margin-bottom:40px;
	/*text-align:center;*/
	/*font-weight: bold;*/ 
	font-size:18px;
	font-family: Arial;
	color: #6E6E6E;
	position: relative;
	top:20px;
	left:20px;
        width: auto;
        height:auto;
}



/*
estylos nuevos de aqui en adelante...
*/

.botones {
    height: 25px;
    margin-bottom: 2px;
    margin-top: 2px;
}


.accion {
    opacity: 0.7;
    height: 21px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 21px;
    padding: 3px;
    cursor:pointer;
}

.accion:hover {
    opacity: 1;    
    margin-top: 3px;
    margin-bottom: 3px;    
    padding: 3px; 
}





















input[type=text], textarea {
  font-size:1vw;
  width: 100%;
  padding: 12px 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
}

input[type=submit], {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 12px 16px;
  /*margin: 8px 0;*/
  border: none;
  border-radius: 0;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

select {background-color: #00599B;
  color:white;}

option {
  font-size:1vw;
  padding: 12px 16px;
  background-color: #00599B;
  color:white;
}

textarea {
  font-size:1vw;
  padding: 12px 16px;
}

label {
	font-family: Arial;
  font-size:1vw;
}

td {
	font-family: Arial;
  font-size:1vw;
}
