
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */

/*#dt_example {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


#dt_example #container {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}


#dt_example #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#dt_example #demo {
	margin: 30px auto 0 auto;
}

#dt_example .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#dt_example .spacer {
	height: 20px;
	clear: both;
}

#dt_example .clear {
	clear: both;
}

#dt_example pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#dt_example h1 {
	margin-top: 2em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#dt_example h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#dt_example a {
	color: #0063DC;
	text-decoration: none;
}

#dt_example a:hover {
	text-decoration: underline;
}

#dt_example ul {
	color: #B0BED9;
}
*/

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	_height: 302px;
	clear: both;
	/*la siguiente linea es para que el menu no se solape*/
/*   	z-index:-10   */
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float:inherit;
        margin-top:20px;
}
border: 1px solid #ddd;
.dataTables_paginate {
	width: 44px;
	float: right;
        margin-top:-5px;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
        float: left;
}

.paginate_disabled_previous {
	background-image: url('img/back_disabled.png');
}

.paginate_enabled_previous {
	background-image: url('img/back_enabled.png');
}

.paginate_disabled_next {
	background-image: url('img/forward_disabled.png');
}

.paginate_enabled_next {
	background-image: url('img/forward_enabled.png');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: auto auto;
	width: 100%;
	clear: both;        
        border-bottom:1px solid #DF013A;
/*        -moz-box-shadow: 1px 2px 3px #000000;
        -webkit-box-shadow: 1px 2px 3px #000000;
        box-shadow: 1px 2px 3px #000000;*/
        /*-webkit-border-radius: 5px 5px;  /* Safari  */
        /*-moz-border-radius: 5px 5px;     /* Firefox */
}

table.display thead th {
	padding-top:10px;
        padding-bottom:10px;	
	font-weight: normal;
	cursor: pointer;
        /*background-color:#BA3131;
	background: -moz-linear-gradient(#ba3131, #5d1818); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #ba3131));	
	background: -webkit-linear-gradient(#ba3131, #5d1818);	
	background: -o-linear-gradient(#ba3131, #5d1818);
	background: -ms-linear-gradient(#ba3131, #5d1818);
	background: linear-gradient(#ba3131, #5d1818);*/
background: #295c98;
         
        color:#fff;
        font-family:sans-serif;
        font-size:14px;
        letter-spacing:0.09em;
        text-align:center;
}


table.display thead th:hover {	
        background-color:#2196F3;
}

table.display tfoot th {
	padding: 3px 10px;
	/*border-top: 0px solid black;*/
	/*font-weight: bold;*/
}

/*table.display tr.heading2 td {
	border-bottom: 0px solid #aaa;

}*/


table.display tr td {
	/*border-bottom: 0px;
	border:0px solid #DF013A;*/

}

table.display td {
  
 /* padding-top:0px;
  padding-bottom:0px;*/
  font-weight: normal;
  font-family: 'Open Sans',arial;
  
}
/*table.display td.center {
	text-align: center;        
}*/



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('img/sort_asc.gif') no-repeat center right;
}

.sorting_desc {
	background: url('img/sort_desc.gif') no-repeat center right;
}

.sorting {
	background: url('img/sort_both.gif') no-repeat center right;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}

table.display tr.odd.gradeB {
	background-color: #ddffdd;
}

table.display tr.even.gradeB {
	background-color: #eeffee;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}



/*tr.odd { color: #005DB3; background-color: #EFFBFB;}
tr.even { color: #02243C; background-color: #FBF5EF;}*/


tr.even { color: #005DB3; background-color: #F2F2F2;}
tr.odd { color: #02243C; background-color: #FFF;}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.dataTables_paginate {
	width: 44px;
	float: right;
        margin-top:-5px;
	text-align: right;
}

.example_alt_pagination div.dataTables_paginate span.paginate_button,
 	.example_alt_pagination div.dataTables_paginate span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	/*cursor: hand;*/
}

.example_alt_pagination div.dataTables_paginate span.paginate_button {
	background-color: #ddd;
}

.example_alt_pagination div.dataTables_paginate span.paginate_button:hover {
	background-color: #ccc;
}

.example_alt_pagination div.dataTables_paginate span.paginate_active {
	background-color: #99B3FF;
}


table.display tr.row_selected.odd td {
	background-color: #B0BED9;
}

table.display tr.row_selected.even td {
	background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */




tr.odd td {
	background-color: #F2F2F2;
}
tr.even td {
	background-color: #FAFAFA ;
}

tr.odd td:hover {
	background-color: #D8D8D8;
}
tr.even td:hover {
	background-color: #E6E6E6;
}




tr.odd td.sorting_1 {
	background-color: #E6E6E6;
}
tr.even td.sorting_1 {
	background-color: #F2F2F2;
}

tr.odd td.sorting_1:hover {
	background-color: #BDBDBD;
}
tr.even td.sorting_1:hover {
	background-color: #D8D8D8;
}


/*

tr.odd td.sorting_2 {
	background-color: #EEE;
}

tr.odd td.sorting_3 {
	background-color: #EEE;
}

*/
/*
tr.even td.sorting_2 {
	background-color: #EEE;
}

tr.even td.sorting_3 {
	background-color: #EEE;
}*/


/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}

/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}



.display TABLE
{
   margin: 1;
   padding: 1;
   background-color: #fff;
   color: #7f7f7f;
}

.display TH{
  background:#990000;
  color:#AAA;
  font-family:sans-serif;
  font-size:12px;
  letter-spacing:0.09em;

  /*font-weight:bold;*/
}

.display TD
{
	color:#585858;
	background-color:#F7F7F7;
	font-family: sans-serif;
	font-size: 9pt;
	padding:5px;
}

.display TR
{
	background-color:#E3E4FA;
        margin: 0px;
	/*cursor: pointer;*/
        /*-webkit-border-radius: 5px 5px;  /* Safari  */
        /*-moz-border-radius: 30px 30px;     /* Firefox */
}

#addReg{
    margin-bottom: 10px;    
}


