/* 
    Created on : 17 Sep, 2014, 4:29:37 PM
    Author     : senthil
*/

 .ti_tx, .mi_tx, .mer_tx {
    width: 100%;
    text-align: center;
    margin: 0px 0;
 }
 .time, .mins, .meridian {
    width: 30%;
    float: left;
margin: 1px 1px;
font-size: 10px;
color: #fff;
font-family: 'Open Sans',sans-serif;
 font-weight: bold;
/*font-weight: 700;*/
 }
 .prev, .next {
	background-color:#fff;	
	color:#6E6E6E;
    cursor: pointer;
    padding: 5px;
    width: 28%;
    border: 0px solid #ccc;
    margin: auto;
   
	background-color:#fff;	
    border-radius: 3px;
}






 .prev:hover, .next:hover{ background-color:#2a3333;}
 
.prev{ background-position: 50% -50%;
 background: url(../img/arrow_down.png) no-repeat;
}

.next{ background-position: 50% 150%;
 background: url(../img/arrow_up.png) no-repeat;

}

 
 .time_pick{ position:relative;}
/*input{ float:left;}*/
.timepicker_wrap{ 
    padding: 1px;
	border-radius: 1px;
    z-index: 2; 
	display:none; 
	width:96px; 
	box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.35); 
	background:#2c2c2c;/*#f6f6f6; */
	border:1px solid #ccc; 
	float:left; 
	position:absolute; 
	/*top:27px; */
	left:0px;}

/*.titulo{
	'Open Sans',sans-serif;
	text-align: center;
	color:#6E6E6E;
	background-color:#fff;
}*/
/*.arrow_top{ 
position: absolute;
top: -10px;
left: 20px;
background: url(../images/top_arr.png) no-repeat;
width: 18px;
height: 10px;
z-index: 0;
}*/

