@charset "utf-8";

body,html {        
	/*font-family: sans-serif;*/
	/*font-family: Arial;*/
	font-size:1vw;
	margin:0;
	padding:0;
        background:#00599B;
}

#cuerpo{
	margin-left:auto;
	margin-right: auto;
	width: 100%;
        height: 100%;
        background-size: 100%;
	background-color: #FFFFFF;
	background: #fff url(../img/cubes.png) repeat 0 0 ;
	/*background: #fff url(../img/fondo.png);*/
	/*margin-bottom: 10px;*/
	/*margin-top:0px;*/

	/*min-height: 545px;*/
	/*padding-bottom: 100px;*/
	/*padding-left:0px;*/

	/*-webkit-border-radius: 5px 5px;  /* Safari  */
	/*-border-radius: 15px 15px;     /* Firefox */
	/*-box-shadow: 2px 3px 6px #000000;
	/*-moz-border-radius: 15px 15px;     /* Firefox */
	/*-moz-box-shadow: 2px 3px 6px #000000;   Este comentario es para estirar la pantalla
	-webkit-box-shadow: 2px 3px 6px #000000;
	box-shadow: 2px 3px 6px #000000;*/
	/*background:#FAFAFA;*/
}

#cabecera {
background: #00599B;
}
#contenido{
	/*box-shadow: 1px 2px 3px #000000;*/
	/*margin-top: 10px;
	margin-bottom:-33px;
	margin-right: 80px;
	margin-left: 70px;*/
	/*border:1px none #B10408;*/
	min-height:365px;
	padding-top:30px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left:20px;
	text-align:left;
	min-width:1180px;
	width:90%;
	margin-left: 3%;
	position:relative;
	top:-15px;
	left:5px;
    overflow: auto;
        background:transparent;
}

#contenido_dashboard{
	box-shadow: 1px 2px 3px #000000;
	margin-top: 0px;
	margin-bottom:-33px;
	margin-right: 80px;
	margin-left: 70px;
	border:1px none #B10408;
	min-height:1400px;
	padding-top:30px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left:20px;
	text-align:left;
	min-width:1180px;
	position:relative;
	top:-50px;
	left:5px;
	border-radius: 3px 3px 3px 3px;
	background: #FAFAFA ; 
}



#banner{
	background-image:url(../img/header.png);
	background-size: 100% 100%;
	background-repeat:no-repeat;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
	clear: both;
	height:160px;
	width:100%;
	position:relative;
	left:0%;
	top:0;
}

#titulo {
    padding-bottom:1%;
    text-align:center;
    font-size:2vw;
    font-family: sans-serif;
    color: #fff;
    position: relative;
    background:#00599B;
}

#sub_titulo {
    align:center;
	margin-bottom:50px;
	text-align:center;
	/*font-weight: bold;*/ 
	font-family: sans-serif;
	color: #6E6E6E;
	position: relative;
	top:20px;
	left:20px;
	width: auto;
	height:auto;
	font-size:1.5vw;
}

#id_firma{
	padding-top:1%;
	padding-bottom:1%;
	color:#fff;
	text-align:center;
	clear: both;
        background: #00599B;
       font-size:0.75vw;
}

#precarga {
position: fixed;
top:0; left:0;
right:0; bottom:0;
z-index: 2001;
background: #fff url(../img/cubes.png) repeat 0 0 ;/*Este comentario es para estirar la pantalla*/
}

#carga{
    width: 100%;
    height: 100%;
    position: absolute;
    left:5%; top:40%;
    background: url(../img/loader.gif) no-repeat center 0;
    margin: auto;
    opacity: 0.3;
}
