<!-- BEGIN: main -->
    <div align="center">
<input type="hidden" name="id" id="id" value='{ID}'>
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Número de Requisición</td>
                <td>
                    <input id="numero"
                           name="numero"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{NUMERO}"
                           {NUMERO_READONLY}>
                </td>
            </tr>
            <tr>
                <td>Número de Memorandum</td>
                <td>
                    <input id="memo"
                           name="memo"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{MEMO}">
                </td>
            </tr>
            <tr>
                <td>Fecha Solicitud</td>
                <td>
                    <input id="idfecha_solicitud"
                           name="fecha_solicitud"
                           autocomplete="off"
                           style="width: 98%;"
                           data-validation="date"
                           value="{FECHA_SOLICITUD}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "idfecha_solicitud",
                            ifFormat      : "%Y-%m-%d",
                            button        : "id_fecha_solicitud",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Fecha Recibido</td>
                <td>
                    <input id="idfecha_recibido"
                           name="fecha_recibido"
                           autocomplete="off"
                           style="width: 98%;"
                           data-validation="date"
                           value="{FECHA_RECIBIDO}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "idfecha_recibido",
                            ifFormat      : "%Y-%m-%d",
                            button        : "id_fecha_recibido",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Recibido por</td>
                <td>
                    <input id="recibido"
                           name="recibido"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{RECIBIDO}">
                </td>
            </tr>
            <tr>
                <td>Dependencia Solicitante</td>
                <td>
                    <select id="id_dependencia" name="id_dependencia" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: dependencia -->
                        <option value={ID_DEPENDENCIA} {SELECTED_DEPENDENCIA}>{DES_DEPENDENCIA}</option>
                        <!-- END: dependencia -->
                    </select>
                </td>
            </tr>
        </table>
    </div>
<!-- END: main -->
