<!-- BEGIN: main -->
<table class="mainTable">
    <thead class="tHeader">
	<th class='tHeaderDes'>Dirección Geográfica</th>	
	<th class='tHeaderX' title="Cerrar" onclick="closePickList();">X</th>        
    </thead>	
</table> 
<div id="id_div_0">                    
        <table id="id_table_0"  width="100%" border=0 class='tablaNivel0'> 
                <!--thead><th class='pickListHeaderNow'>Estados...</th></thead-->	

                <tbody title="Seleccione...">
		    
                    <!-- BEGIN: nivel_0 --> 
		    <tr>
			<td>
			    <div id="{NIVEL_0_ID}" 
			 	onclick="llenarNivel(1,this);">
				<table>
					<tr>
						<!--td width='60px' align='center'>{NIVEL_0_COD}</td-->
						<td>-{NIVEL_O_DES}</td>
					</tr>
				</table>
			    </div>
			</td>
		    </tr>
                    <!-- END: nivel_0 -->
                </tbody>
            </table>
        </div>    
<input class="data"  type="hidden" name="abc" id="abc"  value="">
<input class="data"  type="hidden" name="ciudad" id="id_ciudad"  value="">
 <!--img class="pickListImgClose" 
                 src="../../img/cerrar.png" 
                 title="Cerrar" 
                 onclick="closePickList()"-->
<!-- END: main -->
