<!-- BEGIN: main -->
<script src="../../../../../{FDSOIL}/js/calendar.js"></script>
<form action="" name="form" method="POST">
    <input type="hidden" name="id" id="id" value='{ID}'>
    <div id='sub_titulo'>Registro de clasificador</div>
    <div align="center">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Codigo</td>
                <td>
                    <input id="id_codigo"
                           name="codigo"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{CODIGO}"
                           {CODIGO_READONLY}>
                </td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>
                    <input id="id_nombre"
                           name="nombre"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{NOMBRE}">
                </td>
            </tr>
            <tr>
                <td>Descripcion</td>
                <td>
                    <textarea id="id_descripcion"
                              name="descripcion"
                              style="width: 98%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{DESCRIPCION}</textarea>
                </td>
            </tr>
            <tr>
                <td>Tipo</td>
                <td>
                    <input type="checkbox"
                           id="id_tipo"
                           name="tipo"
                           {TIPO_CHK}>
                </td>
            </tr>
            <tr>
                <td>Vigencia</td>
                <td>
                    <input id="id_vigencia"
                           name="vigencia"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{VIGENCIA}"
                           {VIGENCIA_READONLY}>
                </td>
            </tr>
        </table>
    </div>
    {BUTTONS_PANEL}
</form>
<!-- END: main -->
